/* .App {
  text-align: center;
} */


/* header */


.bar-cont{
  text-decoration: none;
  width:17%;
  color:black;
  font-weight: 600;
padding: 10px;
list-style: none;



   

  
}
.bar-cont :hover{
  color: red;
}





